body {
    color: green;
    text-align: center;
    font-weight: 200;
    background-color: lightblue;
    height: 500px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.options {
    justify-content: space-around;
    align-items: center;
    width: 400px;
    display: flex;
    height: 100px;
}

.button {
    align-items: center;
    height: 50px;
    width: 100px;
    border-radius: 15px;
}

.gamename {
    
}

.gameoutput {
    width: 400px;
    height: 100px;
}